In [56]:
import sys
from pathlib import Path
from datetime import datetime

# A帽ade src al path para importar los m贸dulos
sys.path.append(str(Path().resolve().parent / 'src'))

import config

In [57]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [58]:
import hopsworks

# Conexi贸n a hopsworks y proyecto   
project = hopsworks.login(project=config.HOPSWORKS_PROJECT_NAME, api_key_value=config.HOPSWORKS_API_KEY)
feature_store = project.get_feature_store()


print("Conectado a proyecto:", project.name)
print("Conectado al feature store:", feature_store.name)

2025-08-24 11:43:12,628 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-08-24 11:43:12,632 INFO: Initializing external client
2025-08-24 11:43:12,632 INFO: Base URL: https://c.app.hopsworks.ai:443
Connection closed.
2025-08-24 11:43:12,632 INFO: Initializing external client
2025-08-24 11:43:12,632 INFO: Base URL: https://c.app.hopsworks.ai:443

UserWarning: The installed hopsworks client version 4.3.1 may not be compatible with the connected Hopsworks backend version 4.2.2.
To ensure compatibility please install the latest bug fix release matching the minor version of your backend (4.2) by running 'pip install hopsworks==4.2.*'

2025-08-24 11:43:13,888 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1242272
Conectado a proyecto: fleca_mlops
Conectado al feature store: fleca_mlops_featurestore

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1242272
Conectado a proyecto: fleca_mlops
Conectado al feature store: fleca_mlops_featurestore

In [59]:
from datetime import timedelta
import pandas as pd

FG_NAME = "times_series_bolleria_feature_group"
FV_NAME = "times_series_bolleria_feature_view"
FV_VERSION = 1

# Lectura batch cruda de feature views
feature_views= feature_store.get_feature_view(name=FV_NAME, version=FV_VERSION)
ts_df = feature_views.get_batch_data(
    start_date=None,
    end_date=None,
    features=None,
    )

# Reseteo de 铆ndice y ordenaci贸n por la columna de fecha antes de visualizar
ts_df = ts_df.sort_values('week_start').reset_index(drop=True)
ts_df.head(5)

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.65s)
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.65s)

,familia,base_imponible,is_summer_peak,is_easter,week_start
0,BOLLERIA,825.11,0,0,2023-01-02 00:00:00+00:00
1,BOLLERIA,658.40,0,0,2023-01-09 00:00:00+00:00
2,BOLLERIA,741.40,0,0,2023-01-16 00:00:00+00:00
3,BOLLERIA,653.64,0,0,2023-01-23 00:00:00+00:00
4,BOLLERIA,680.46,0,0,2023-01-30 00:00:00+00:00

In [60]:
from src.model import transformar_features_target

# Procesar datos usando la funci贸n mejorada que acepta tuplas directamente
ts_df = transformar_features_target(
    ts_df,
    lags_list=[1, 2, 3, 52], 
    columna_target='base_imponible',
    cols_exogenas=['is_easter', 'is_summer_peak'],
    periodos_adelante=1,
    eliminar_nulos=True,
    return_format='dataframe'  # Obtenemos un 煤nico DataFrame con features y target
)

# Resetear el 铆ndice
ts_df = ts_df.reset_index(drop=True)

# Mostrar las primeras filas del DataFrame transformado
ts_df.head(5)

2025-08-24 11:43:19,306 INFO: Usando DataFrame de entrada: (133, 5)
2025-08-24 11:43:19,309 INFO: Retornando DataFrame combinado: (80, 8)
2025-08-24 11:43:19,309 INFO: Retornando DataFrame combinado: (80, 8)

,base_imponible_lag1,base_imponible_lag2,base_imponible_lag3,base_imponible_lag52,is_easter,is_summer_peak,week_start,target
0,572.51,534.79,563.18,825.11,0,0,2024-01-15 00:00:00+00:00,680.30
1,597.65,572.51,534.79,658.40,0,0,2024-01-22 00:00:00+00:00,603.99
2,680.30,597.65,572.51,741.40,0,0,2024-01-29 00:00:00+00:00,600.14
3,603.99,680.30,597.65,653.64,0,0,2024-02-05 00:00:00+00:00,689.32
4,600.14,603.99,680.30,680.46,0,0,2024-02-12 00:00:00+00:00,627.76

In [64]:
# Cargamos el modelo para predecir
import mlflow.pyfunc



MODEL_NAME = 'RandomForest'
MODEL_VERSION = 1 # Debe ser un entero, no un string

model = mlflow.pyfunc.load_model(model_uri=f'models:/{MODEL_NAME}/{MODEL_VERSION}')
print('Modelo cargado:', model)

Modelo cargado: mlflow.pyfunc.loaded_model:
  artifact_path: file:///c:/Workspace/mlops_fleca_project/mlruns/203059079665072361/models/m-bff29bb3335e4a34a6fcda9065cceee3/artifacts
  flavor: mlflow.sklearn
  run_id: 593a202a6bf04711ac90c90e6f2fee95

In [65]:
# Predicci贸n directa para la pr贸xima semana (sin autoregresi贸n)
from datetime import timedelta

print("=== PREDICCIN DIRECTA DE LA PRXIMA SEMANA ===")

# Selecciona las columnas de features (excluye las que no son usadas por el modelo)
feature_names = [col for col in ts_df.columns if col not in ['week_start', 'target']]

# Tomar la 煤ltima fila y preparar los features para la pr贸xima semana
ultimo_lunes = ts_df['week_start'].max()
last_row = ts_df.iloc[-1].copy()
fecha_siguiente = ultimo_lunes + timedelta(days=7)
last_row['week_start'] = fecha_siguiente

# Usar DataFrame para evitar el warning de nombres de features
X = pd.DataFrame([last_row[feature_names].values], columns=feature_names)
prediccion = model.predict(X)[0]

print(f"Fecha predicha: {fecha_siguiente.date()}")
print(f"Predicci贸n base_imponible: {prediccion:.2f}")

prediccion = pd.DataFrame({
    'week_start': [fecha_siguiente],
    'predicted_base_imponible': [prediccion]
})
print(prediccion)

=== PREDICCIN DIRECTA DE LA PRXIMA SEMANA ===
Fecha predicha: 2025-08-11
Predicci贸n base_imponible: 1545.84
                 week_start  predicted_base_imponible
0 2025-08-11 00:00:00+00:00               1545.840886

In [70]:
# Guardar solo la predicci贸n y loguear como artefacto en MLflow
output_path = Path("predicciones_batch.csv")
df_predicciones = pd.DataFrame(prediccion)
df_predicciones.to_csv(output_path, index=False)
print(f'Predicciones guardadas en {output_path}')

import mlflow
mlflow.set_tracking_uri("http://127.0.0.1:5000")
mlflow.set_experiment("bolleria_predicts")  # Cambia "default" por el nombre de tu experimento si es necesario
if mlflow.active_run() is not None:
    mlflow.end_run()
with mlflow.start_run(run_name="Predicciones batch"):
    mlflow.log_artifact(str(output_path))

Predicciones guardadas en predicciones_batch.csv
 View run Predicciones batch at: http://127.0.0.1:5000/#/experiments/4/runs/e6d4ed70071d4150918c68bf66fe6f4d
И View experiment at: http://127.0.0.1:5000/#/experiments/4