# Transformamos datos

In [1]:

import pandas as pd
from pathlib import Path

# Cargar el archivo parquet que contiene los datos validados
file_path = '../data/interim/validated_range_dates_20250630.parquet'
df_fleca = pd.read_parquet(file_path)

# Ordenar la columna fecha de forma ascendente

df_fleca = df_fleca.sort_values(by='fecha')

# Eliminar la parte de horas, minutos y segundos de la columna 'fecha'
df_fleca['fecha'] = df_fleca['fecha'].dt.date

df_fleca.head()

             fecha     familia  base_imponible
87701   2023-01-02      VARIOS            1.59
107847  2023-01-02    CERVEZAS            1.41
107890  2023-01-02     BEBIDAS            1.91
148547  2023-01-02  BOCADILLOS            1.59
107979  2023-01-02    BOLLERIA            1.91

In [2]:
# Convertir la columna 'fecha' a tipo datetime
df_fleca['fecha'] = pd.to_datetime(df_fleca['fecha'])

print(df_fleca.dtypes)

fecha             datetime64[ns]
familia                   object
base_imponible           float64
dtype: object

In [3]:
# Guardar el DataFrame en formato parquet en la carpeta de datos procesados para los datos diarios
df_fleca_dia = df_fleca.to_parquet('../data/processed/ts_data_family_dia_00.parquet', index=False)

In [5]:
# Convertir la columna 'fecha' a tipo datetime
df_fleca['fecha'] = pd.to_datetime(df_fleca['fecha'])

# Calcular el inicio de semana (lunes) para cada fecha
df_fleca['semana'] = df_fleca['fecha'] - pd.to_timedelta(df_fleca['fecha'].dt.weekday, unit='d')

# Eliminar la columna 'fecha' si no se necesita
df_fleca_semana = df_fleca.drop(columns=['fecha'])


df_fleca_semana.head()

           familia  base_imponible     semana
87701       VARIOS            1.59 2023-01-02
107847    CERVEZAS            1.41 2023-01-02
107890     BEBIDAS            1.91 2023-01-02
148547  BOCADILLOS            1.59 2023-01-02
107979    BOLLERIA            1.91 2023-01-02

In [6]:
# Agrupar por semana y familia y calcular la suma de las columnas numéricas 
df_fleca_semana_agg = df_fleca_semana.groupby(['semana', 'familia']).sum().reset_index()


print(df_fleca_semana_agg.head(50))

       semana           familia  base_imponible
0  2023-01-02          AÑADIDOS            8.81
1  2023-01-02           BEBIDAS          467.96
2  2023-01-02        BOCADILLOS          864.03
3  2023-01-02          BOLLERIA          825.11
4  2023-01-02             CAFES         1617.62
5  2023-01-02          CERVEZAS           30.69
6  2023-01-02           LICORES           50.46
7  2023-01-02               PAN          366.92
8  2023-01-02        PASTELERIA          783.20
9  2023-01-02  TES & INFUSIONES           92.25
10 2023-01-02          TOSTADAS           66.56
11 2023-01-02            VARIOS           26.41
12 2023-01-09          AÑADIDOS            9.99
13 2023-01-09           BEBIDAS          393.39
14 2023-01-09        BOCADILLOS          666.06
15 2023-01-09          BOLLERIA          658.40
16 2023-01-09             CAFES         1405.42
17 2023-01-09          CERVEZAS           52.51
18 2023-01-09           LICORES           21.22
19 2023-01-09               PAN          341.39
20 2023-01-09        PASTELERIA          289.08
21 2023-01-09  TES & INFUSIONES          107.91
22 2023-01-09          TOSTADAS           52.85
23 2023-01-09            VARIOS           21.87
24 2023-01-16          AÑADIDOS            7.69
25 2023-01-16           BEBIDAS          417.84
26 2023-01-16        BOCADILLOS          763.08
27 2023-01-16          BOLLERIA          741.40
28 2023-01-16             CAFES         1500.14
29 2023-01-16          CERVEZAS           49.24
30 2023-01-16           LICORES           11.39
31 2023-01-16               PAN          479.83
32 2023-01-16        PASTELERIA          312.70
33 2023-01-16  TES & INFUSIONES           68.82
34 2023-01-16          TOSTADAS           32.94
35 2023-01-16            VARIOS           21.29
36 2023-01-23          AÑADIDOS            7.25
37 2023-01-23           BEBIDAS          417.89
38 2023-01-23        BOCADILLOS          702.08
39 2023-01-23          BOLLERIA          653.64
40 2023-01-23             CAFES         1395.06
41 2023-01-23          CERVEZAS           45.01
42 2023-01-23           LICORES            9.24
43 2023-01-23               PAN          314.16
44 2023-01-23        PASTELERIA          325.42
45 2023-01-23  TES & INFUSIONES          105.95
46 2023-01-23          TOSTADAS           24.84
47 2023-01-23            VARIOS           21.55
48 2023-01-30          AÑADIDOS            7.54
49 2023-01-30           BEBIDAS          411.47

In [8]:
# Guardar el DataFrame agrupado en formato parquet en la carpeta de datos procesados para los datos semanales
df_fleca_semana_agg.to_parquet('../data/processed/ts_data_family_semana_00.parquet', index=False)

# A partir de aquí, es un ejemplo para poder agrupar por familias

In [90]:
# Filtrar solo los datos de la familia 'Bocadillos'
df_bocadillos = df_fleca_semana_agg[df_fleca_semana_agg['familia'] == 'BOCADILLOS'].reset_index(drop=True)

# Eliminar de la columna semana las horas, minutos y segundos
df_bocadillos['semana'] = df_bocadillos['semana'].dt.date


df_bocadillos.head(50)

        semana     familia  base_imponible
0   2024-01-01  BOCADILLOS          676.21
1   2024-01-08  BOCADILLOS          704.53
2   2024-01-15  BOCADILLOS          646.02
3   2024-01-22  BOCADILLOS          726.73
4   2024-01-29  BOCADILLOS          708.58
5   2024-02-05  BOCADILLOS          760.37
6   2024-02-12  BOCADILLOS          824.47
7   2024-02-19  BOCADILLOS          737.55
8   2024-02-26  BOCADILLOS          775.31
9   2024-03-04  BOCADILLOS          705.43
10  2024-03-11  BOCADILLOS          862.84
11  2024-03-18  BOCADILLOS          893.28
12  2024-03-25  BOCADILLOS         1257.86
13  2024-04-01  BOCADILLOS          943.38
14  2024-04-08  BOCADILLOS          822.62
15  2024-04-15  BOCADILLOS          997.33
16  2024-04-22  BOCADILLOS          917.44
17  2024-04-29  BOCADILLOS         1131.65
18  2024-05-06  BOCADILLOS         1072.06
19  2024-05-13  BOCADILLOS         1161.50
20  2024-05-20  BOCADILLOS         1106.76
21  2024-05-27  BOCADILLOS         1190.51
22  2024-06-03  BOCADILLOS          979.80
23  2024-06-10  BOCADILLOS         1227.34
24  2024-06-17  BOCADILLOS         1297.37
25  2024-06-24  BOCADILLOS         1406.51
26  2024-07-01  BOCADILLOS         1216.48
27  2024-07-08  BOCADILLOS         1380.36
28  2024-07-15  BOCADILLOS         1330.56
29  2024-07-22  BOCADILLOS         1453.92
30  2024-07-29  BOCADILLOS         1537.67
31  2024-08-05  BOCADILLOS         1660.09
32  2024-08-12  BOCADILLOS         1542.73
33  2024-08-19  BOCADILLOS         1561.68
34  2024-08-26  BOCADILLOS         1253.24
35  2024-09-02  BOCADILLOS         1625.45
36  2024-09-09  BOCADILLOS         1306.51
37  2024-09-16  BOCADILLOS          980.69
38  2024-09-23  BOCADILLOS         1010.32
39  2024-09-30  BOCADILLOS          974.80
40  2024-10-07  BOCADILLOS          849.36
41  2024-10-14  BOCADILLOS          928.21
42  2024-10-21  BOCADILLOS          864.42
43  2024-10-28  BOCADILLOS          906.91
44  2024-11-04  BOCADILLOS          743.14
45  2024-11-11  BOCADILLOS          765.68
46  2024-11-18  BOCADILLOS          765.24
47  2024-11-25  BOCADILLOS          679.67
48  2024-12-02  BOCADILLOS          718.36
49  2024-12-09  BOCADILLOS          598.13